version: 2.1

orbs:
  android: circleci/android@2.4.0

jobs:
  build:
    executor:
      name: android/android-docker
      tag: 2024.01.1
    
    resource_class: large
    
    steps:
      - checkout
      
      - restore_cache:
          keys:
            - gradle-deps-{{ checksum "build.gradle.kts" }}-{{ checksum "app/build.gradle.kts" }}
            - gradle-deps-
      
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies
      
      - save_cache:
          paths:
            - ~/.gradle
          key: gradle-deps-{{ checksum "build.gradle.kts" }}-{{ checksum "app/build.gradle.kts" }}
      
      - run:
          name: Build Debug APK
          command: ./gradlew assembleDebug
      
      - run:
          name: Build Release APK
          command: ./gradlew assembleRelease
      
      - store_artifacts:
          path: app/build/outputs/apk/debug/
          destination: apk-debug
      
      - store_artifacts:
          path: app/build/outputs/apk/release/
          destination: apk-release
      
      - store_test_results:
          path: app/build/test-results

workflows:
  build-and-test:
    jobs:
      - build